<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="application-name" content="A douban movie app using React ">
  <meta name="theme-color" content="#000000">
  <meta name="referrer" content="never">
  <title>Doba Movie</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
