.douban-link {
  $sz: 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 3px;
  margin-top: 5px;
  height: $sz;
  width: $sz;
  .douban {
    fill: #3ca353;
    fill: #fff;
    height: 100%;
    width: 100%;
  }
  &:hover {
    border-color: #3ca353;
    .douban {
      fill: #3ca353;
    }
  }
}