html {
  background-color: #000; // I'm crazy
}


body {
  font-family: $font-base;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #ddd;
  padding: 25px 0;
}

h1 {
  text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #82F9F9;
  &:hover {
    color: #037979;
  }
}

.icon {
  width: 32px;
  height: 32px;
}

.app-bg {
  background-size: cover;
  position: fixed;
  filter: blur(30px) brightness(85%);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}