@keyframes moveRight {
  0% { margin-left: 0px; }
  100% { margin-left: 30px; }
}

@keyframes moveLeft {
  0% { margin-right: 0px; }
  100% { margin-right: 30px; }
}

.loading {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  height: 80vh;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.left {
  transform: translateX(-25px);
  background-color: tomato;
  left: 50%;
  animation: moveRight 1s ease-in-out 0s infinite alternate;
}

.right {
  transform: translateX(25px);
  background-color: green;
  right: 50%;
  animation: moveLeft 1s ease-in-out 0s infinite alternate;
}