.search-wrapper { // to remove to core
  max-width: 420px;
  margin: 0 auto;
  padding: 28px 15px 0;
}

.search-bar {
  display: flex;
  padding: 6px;
  border: 1px solid #ccc;
  border-color: rgba(255,255,255,0.2);
  align-items: center;
  &.focused {
    .icon.search {
      fill: #ccc;
    }
  }
}

.search-icon {
  background-color: #a7a7a7;
  height: 24px;
  background: none;
}

.icon.search {
  fill: #999;
  width: 24px;
  height: 24px;
}

.search-input {
  width: 100%;
  height: 24px;
  color: #ccc;
  background: none;
  border: none;
  outline: none;
  padding: 1px;
  &::placeholder {
    color: #999;
  }
}
