$subject-height: 600px; // TODO

.subject-title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0;
  .title-1 {
    font-size: 2em;
  }
  .title-2 {
    font-size: 1.5em;
  }
}

.subject-hero {
  height: $subject-height;
  position: relative;
}

.subject-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .subject-title {
    text-align: left;
  }
}

.subject-hero-bg {
  width: 100%;
  height: 100%;
  background-color: #ccc; // TODO
  background-size: cover;
  position: absolute;
  filter: blur(30px);
  overflow: hidden;
  top: 0px;
  z-index: -1;
}

.subject-hero-info {
  padding-left: 20px;
  flex-basis: 300px;
  color: #fff;
}

.subject-content {
  width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.rating {
  display: flex;
  align-items: center;
  .average {
    font-size: 1.6em;
  }
  .star {
    fill: #FFC107;
    margin-right: 5px;
  }
}

.douban-link {
  $sz: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  margin-top: 5px;
  height: $sz;
  width: $sz;
  .douban {
    fill: #3ca353;
    fill: #ccc;
    height: 100%;
    width: 100%;
  }
  &:hover {
    border-color: #3ca353;
    .douban {
      fill: #3ca353;
    }
  }
}

