$subject-height: 600px; // TODO
$subject-height-small: 520px;

.subject-title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0;
  .title-1 {
    font-size: 2em;
  }
  .title-2 {
    font-size: 1.5em;
  }
}

.subject-hero {
  height: $subject-height;
  position: relative;
  overflow: hidden;
  &.small {
    height: $subject-height-small;
  }
}

.subject-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .subject-title {
    text-align: left;
  }
}

.subject-hero-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  filter: blur(30px) brightness(85%);
  transform: scale(1.2);
  overflow: hidden;
  top: 0px;
  z-index: -1;
}

.subject-hero-info {
  padding-left: 20px;
  flex-basis: 300px;
  color: #fff;
}

.subject-content {
  width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  p {
    background-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1em 0;
    padding: 14px;
    border-radius: 14px;
    line-height: 25px;
  }
}

.rating {
  display: flex;
  align-items: center;
  .average {
    font-size: 1.6em;
  }
  .star {
    color: #ffc107;
    margin-right: 5px;
  }
}
