.subject-casts {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  .wrap {
    text-align: center;
  }
  .casts-title {
    font-size: 2em;
    font-weight: 200;
    padding: 10px 0;
    padding-bottom: 35px;
  }
}

.subject-casts-flex {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}